@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@1,700&family=Share+Tech+Mono&family=Supermercado+One&family=Ubuntu:wght@500&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: #1a1a1a;
}